.title {
  text-align: center;
}

input {
  width: 100%;
  font-size: 1.5rem;
}

.table-grid {
  display: grid;
  grid-template-columns: '25% 25%';
  grid-column-gap: 4rem;
}

body {
  background-color: black;
  color: white;
}
